.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback{color:#e74c3c;}
.has-error .form-control,
.has-error .form-control:focus{border:2px solid #e74c3c;}
.has-error .input-group-addon{border-color:#e74c3c;}
p.msgerro{color:#e74c3c;}